<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Saved</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link active" href="/saved" onclick="return false;">Saved<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px !important;background-image: url('js-image.jpg');">
  <div class="container">
    <h1 class="display-4" style="color: black; font-weight: bold; font-family: 'Crimson Text', serif;">Saved Articles</h1>
    <p class="lead" style="color: black; font-weight: bold; font-family: 'Crimson Text', serif;">Articles Saved</p>
  </div>
</div>
<div class="container-fluid p-4" style="background-color: aquamarine;">
  {{#if results}}
  {{#each results}}
    <div class="card mb-4">
      <div class="card-header bg-info">
        <a style="color: white; font-weight: bold; margin-right: 10px; font-family: 'Crimson Text', serif; font-size: 1.3rem;" href={{this.link}}>{{this.header}}</a>
        <button type="button" data-id={{this._id}} class="btn btn-danger" id="unsaveArticle">Unsave Article</button>
      </div>
      <div class="card-body">
        <p>{{this.bio}}</p>
      </div>
    </div>
  {{/each}}
  {{else}}
  <h1>No Saved Articles</h1>
  {{/if}}
</div>
<footer style="background-color: black;">
  <h1>Javascript News Web Scrapper</h1>
  <a href="https://github.com/zachyingling/News-Scraper">Repo</a>
</footer>
<script src="js/front.js"></script>